In [1]:
import numpy as np
import pandas as pd
import glob

# Loading Data

In [2]:
path = r'C:\Users\alsah\Documents\Module03\Project - Scraping\WeatherDatasets' # use your path
all_files = glob.glob(path + "/*.csv")

li = []

for filename in all_files:
    df = pd.read_csv(filename, index_col=None, header=0)
    li.append(df)

df = pd.concat(li, axis=0, ignore_index=True)

In [3]:
df

,Time,Temp,Dew Point,Humidity,Wind,Wind Speed,Wind Gust,Pressure,Precip.,Condition,date
0,12:00,55,30,38,SSE,3,0,27.94,0.0,Fair,2018-01-01
1,1:00,54,32,44,SSE,3,0,27.94,0.0,Fair,2018-01-01
2,2:00,50,34,54,CALM,0,0,27.91,0.0,Fair,2018-01-01
3,3:00,52,34,50,CALM,0,0,27.91,0.0,Fair,2018-01-01
4,4:00,52,34,50,CALM,0,0,27.91,0.0,Fair,2018-01-01
...,...,...,...,...,...,...,...,...,...,...,...
33097,7:00,91,50,24,ESE,2,0,27.72,0.0,Fair,2021-09-30
33098,8:00,88,48,25,ENE,2,0,27.72,0.0,Fair,2021-09-30
33099,9:00,84,46,27,NE,2,0,27.75,0.0,Fair,2021-09-30
33100,10:00,82,46,28,ENE,2,0,27.75,0.0,Fair,2021-09-30
33101,11:00,81,45,28,CALM,0,0,27.75,0.0,Fair,2021-09-30

# Feature Selection

In [4]:
df_test = df[['date', 'Temp', 'Condition', 'Wind Speed']].copy()

In [5]:
df_test = df_test.groupby('date').agg({'Temp': ['min', 'max'], 'Condition': ['sum']}).reset_index()

In [6]:
df_test = pd.DataFrame({'date':df_test['date'],
                        'temp_min':df_test['Temp']['min'],
                        'temp_max':df_test['Temp']['max'],
                        'is_rain':df_test['Condition']['sum'].apply(lambda x: 'Rain' in x)})

In [7]:
df_test

            date  temp_min  temp_max  is_rain
0     2018-01-01        46        79    False
1     2018-01-02        54        68    False
2     2018-01-03        46        68    False
3     2018-01-04        41        70    False
4     2018-01-05        52        73    False
...          ...       ...       ...      ...
1364  2021-09-26        77        99    False
1365  2021-09-27        73        97    False
1366  2021-09-28        70        95    False
1367  2021-09-29        72        97    False
1368  2021-09-30        73        99    False

[1369 rows x 4 columns]

In [8]:
df_test.to_csv('weather cleaned 2018-1-1 to 2021-9-30.csv')

# Fun Info

In [9]:
rain_percent = df_test['is_rain'].sum()/df_test['is_rain'].shape[0]*100
print(f'Riyadh Rain Percent is {round(rain_percent, 2)}% :)')

Riyadh Rain Percent is 3.29% :)